//---------------------------------------------------
// Bootstrap overrides
//---------------------------------------------------

// Colors
/*$brand-primary: #5fcfc6;*/
/*$body-bg: #f6f8f9;*/
/*$gray-light: #7f8b91;*/
/*$gray-lighter: #dfdfdf;*/
/*$border-color: #dfeaeE;*/

// Fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Lora', serif;
$font-family-monospace: 'Courier New', Courier, monospace;
$headings-font-family: $font-family-serif;
$headings-font-weight: 400;
$font-size-h1: 3.5rem;

// Spacing
/*$default-margin: 1.5rem;*/
/*$spacer: 1rem;*/

// Buttons
/*$btn-border-radius: 20px;*/
/*$btn-border-radius-sm: 5px;*/
/*$btn-border-radius-lg: 30px;*/
/*$btn-primary-bg: darken($brand-primary, 20%);*/

// Navbar
/*$navbar-padding-horizontal: 2rem;*/
/*$navbar-padding-vertical: 1rem;*/


//---------------------------------------------------
// FontAwesome overrides
//---------------------------------------------------

$fa-font-path: '~font-awesome/fonts';
